.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .components-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .components-container > div {
    flex: 1 1 400px;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px black;
  }